# Directories
vendor
.DS_Store
node_modules
tests/playwright/reports
tests/playwright/tests/playwright/reports
test-results
playwright-report
artifacts
dist

# Files
safe-svg.zip
.phpunit.result.cache
.wp-env.override.json
