<?xml version="1.0"?>
<phpunit
	bootstrap="tests/unit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	>
	<testsuites>
		<testsuite name="Safe SVG">
			<directory prefix="test-" suffix=".php">./tests/unit</directory>
		</testsuite>
	</testsuites>
	<php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>
